@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Urbanist&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;

}
/* CSS for the element */
.dual-radial-gradient {
  /* Set the main background color to white */
  background-color: white;

  background-image: radial-gradient(
      circle 500px at -20% -25%,
      rgb(255, 166, 0.1),
      transparent
    ),
    radial-gradient(circle 900px at 140% 120%, rgb(255, 106, 0.1), transparent);

  /* Stack the gradients on top of each other */
  background-size: 100% 100%;
  background-repeat: no-repeat;

  /* Additional styling */
  width: 100%; /* Set your desired width */
  height: 100vh; /* Set your desired height */
}

h1 {
  font-size: 58px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color:rgb(45, 45, 45)
}

h2 {
  font-size: 42px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color:rgb(45, 45, 45)
  
}

.subtitle{
    font-size: 26px;
    text-align: center;

}

@media screen and (min-width: 1100px) {


  .wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
}